:root {
  --pale-purple: #b3a7b1;
  --palest-purple: #DED0DC;
  --green-bright: #4ee05f;
  --deep-purple: #110016;
  --normal-purple: #1e0027;
  --light-purple: #270033;
  --lightest-purple: #3c2354;
}
